<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisi delle Playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Analisi delle tue Playlist</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {% if artist_fig %}
        <h2>Top 5 Artisti</h2>
        <div>{{ artist_fig|safe }}</div>
    {% endif %}

    {% if album_fig %}
        <h2>Top 5 Album</h2>
        <div>{{ album_fig|safe }}</div>
    {% endif %}

    {% if genre_fig %}
        <h2>Distribuzione dei Generi Musicali</h2>
        <div>{{ genre_fig|safe }}</div>
    {% endif %}

    <a href="{{ url_for('home.index') }}">Torna alla Home</a>
</body>
</html>
