<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brani della Playlist - {{ playlist_name }}</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Brani della Playlist - {{ playlist_name }}</h1>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nome Brano</th>
                    <th scope="col">Artista</th>
                    <th scope="col">Album</th> 
                    <th scope="col">Durata</th> 
                </tr>
            </thead>
            <tbody>
                {% for track in tracks %}
                <tr>
                    <td>{{ track['track']['name'] }}</td>
                    <td>
                        {% for artist in track['track']['artists'] %}
                            <a href="{{ url_for('home.artistinfo', artist_id=artist['id']) }}">
                                {{ artist['name'] }}
                            </a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('home.albuminfo', album_id=track['track']['album']['id']) }}">
                            {{ track['track']['album']['name'] }}
                        </a>
                    </td>
                    <td>
                        {{ track['track']['duration_ms'] // 60000 }}:{{ '%02d' % ((track['track']['duration_ms'] // 1000) % 60) }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="buttons-container">
            <a class="btn btn-primary" href="{{ url_for('home.homepage') }}">Torna alla Home</a>
            {% if query %}
                <a class="btn btn-secondary" href="{{ url_for('home.cerca', query=query) }}">Torna alle Playlist</a>
            {% endif %}
        </div>
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
